<div class="container-fluid">
  <div class="kanban-board mt-4 ms-1" cdkDropListGroup>
    <div class="kanban-column shadow-sm">
      <div class="kanban-column-header d-flex justify-content-between">
        <h6 class="fw-bold">
          <i class="fas fa-clipboard-list me-2"></i>Pendente
        </h6>
        <span class="count">{{ tarefasPendentes.length }}</span>
      </div>
      <div
        class="kanban-cards"
        cdkDropList
        [cdkDropListData]="tarefasPendentes"
        (cdkDropListDropped)="drop($event)"
      >
        @for (tarefa of tarefasPendentes; track tarefa.titulo) {
        <app-card-component
          cdkDrag
          [data]="tarefa"
          (checklistItemselected)="handleChecklistItemClick($event)"
        />
        }
      </div>
    </div>

    <div class="kanban-column shadow-sm">
      <div class="kanban-column-header d-flex justify-content-between">
        <h6 class="fw-bold">
          <i class="fas fa-clipboard-list me-2"></i>Pendente
        </h6>
        <span class="count">{{ tarefasEmAndamento.length }}</span>
      </div>
      <div
        class="kanban-cards"
        cdkDropList
        [cdkDropListData]="tarefasEmAndamento"
        (cdkDropListDropped)="drop($event)"
      >
        @for (tarefa of tarefasEmAndamento; track tarefa.titulo) {
        <app-card-component
          cdkDrag
          [data]="tarefa"
          (checklistItemselected)="handleChecklistItemClick($event)"
        />
        }
      </div>
    </div>

    <div class="kanban-column shadow-sm">
      <div class="kanban-column-header d-flex justify-content-between">
        <h6 class="fw-bold">
          <i class="fas fa-clipboard-list me-2"></i>Pendente
        </h6>
        <span class="count">{{ tarefas.length }}</span>
      </div>
      <div
        class="kanban-cards"
        cdkDropList
        [cdkDropListData]="tarefas"
        (cdkDropListDropped)="drop($event)"
      >
        @for (tarefa of tarefas; track tarefa.titulo) {
        <app-card-component
          cdkDrag
          [data]="tarefa"
          (checklistItemselected)="handleChecklistItemClick($event)"
        />
        }
      </div>
    </div>

    <div class="kanban-column shadow-sm">
      <div class="kanban-column-header d-flex justify-content-between">
        <h6 class="fw-bold">
          <i class="fas fa-clipboard-list me-2"></i>Pendente
        </h6>
        <span class="count">{{ tarefasTeste.length }}</span>
      </div>
      <div
        class="kanban-cards"
        cdkDropList
        [cdkDropListData]="tarefasTeste"
        (cdkDropListDropped)="drop($event)"
      >
        @for (tarefa of tarefasTeste; track tarefa.titulo) {
        <app-card-component
          cdkDrag
          [data]="tarefa"
          (checklistItemselected)="handleChecklistItemClick($event)"
        />
        }
      </div>
    </div>
  </div>
</div>
