.titulo {
  font-size: larger;
}

.subtext {
  font-size: small;
}


.nav-link {
  // --- As propriedades que você já tinha ---
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
  height: 80px;

  // --- NOVAS PROPRIEDADES PARA O ALINHAMENTO ---
  display: flex;          // Transforma o link em um container flex
  align-items: center;    // Alinha os itens (ícone e texto) VERTICALMENTE ao centro

  // Opcional, mas recomendado: um padding para o conteúdo não ficar colado na borda
  padding-left: 20px;
}

.nav-link.active {
  background-color: #0d6efd;
  color: #ffff;
  font-weight: 500;
  border-color: #0d6efd;
  border-radius: 8px;
}
