.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

form label {
  color: #0d6efd;
}

img.img-thumbnail {
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}
.badge {
  font-size: 0.9rem;
  padding: 0.5em 0.8em;
  border-radius: 0.5rem;
}
